body {
    background-color: #483D8B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
.error-text {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }

.centro {
    text-align: center;
    padding: 15px;
  }
  
  
#principalCriar {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 700px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);*/
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
#informaçõesCriar {
    font-size: 1.2em;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#informaçõesCriar form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
button {
    background-color: #483D8B;
    border: 1px #483D8B solid;
    color: white;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px #483D8B;
    cursor: pointer;
    margin-top: 20px;
  }
  
  
  
input[type="email"], input[type="text"], input[type="password"], input[type="confirm_password"] {
    width: 400px;
    padding: 8px;
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    margin-bottom: 20px;
    }
  
  
  
#voltar {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 20px;
    left: 20px;
}